<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Js 3</title>
    <script src="../vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h2>#Creating a Vue Application</h2>
    </header>

    <div id="app">
      <h3>About Me</h3>
      <table>
        <tr v-for="( value ,key,index ) in aboutMe">
          <th>{{ index+1 }} .</th>
          <th>{{ key }}</th>
           <td>{{ value }}</td>
        </tr>
      </table>
      <div>
        <p v-for="i in 9">
            {{ i }}
        </p>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
